<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
    <label for="email_input">Email</label>
    <input type="email" name="email" id="email_input" class="form-control">
  </p>

  <p>
    <label for="password_input">Password</label>
    <input type="password" name="password" id="password_input" class="form-control">
  </p>

  <button class="btn btn-primary">Login</button>
</form>

<p class="mt-3">Don't have an account? <a href="/users/new" class="btn btn-secondary btn-sm">Signup</a></p>